/*GERAL*/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* 

PARÁGRAFOS E OUTROS: Plus Jakarta Sans 

TÍTULOS: Urbanist

*/
.separa {
    margin: 0 50;
}

* {
    margin: 0;
    padding: 0;
}

:root {

    --fontJakarta: Plus Jakarta Sans;
    --fontUrbanist: Urbanist;
    --cor0: #303841;
    --cor1: #FFB42C;
    --cor2: #2E4750;
    --cor3: #F7F7F7;
    --cor05: #FFAF1E;
}

.site {
    width: 100%;
    max-width: 1200px;
}

h3 {
    color: var(--cor4);
    font-size: 12pt;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: var(--fontJakarta), sans-serif;
    margin-top: 20px;
}

h2 {
    color: var(--cor0);
    font-size: 30pt;
    font-weight: 800;
    font-family: var(--fontUrbanist), sans-serif;
    margin-top: 20px;
}

p,
a,
span,
h3 {
    font-family: var(--fontJakarta);
}

hr {
    width: 70px;
    height: 3px;
    background: var(--cor1);
    margin-bottom: 15px;
    border: none;
}

/* BOTÕES */

/* BOTÃO 01 COM FUNDO */
.btn01 {
    padding: 0 20px;
    width: max-content;
    line-height: 50px;
    height: 50px;
    background-color: var(--cor0);
    font-family: var(--fontJakarta);
    font-weight: bold;
    display: block;
    align-items: center;
    border: none;
    border-radius: 30px;
    margin-top: 30px;
    color: #ffffff;
    letter-spacing: 2px;
    transition: 0.4s;
    cursor: pointer;
}

.btn01 i {
    transition: 0.3s;
    margin-left: 10px;
}

.btn01:hover i {
    transform: scale(1.2);
    margin-left: 20px;
    color: var(--cor1);
}

/* BOTÃO 02 SEM FUNDO */
.btn02 {
    font-family: var(--fontJakarta);
    font-weight: bold;
    border-radius: 30px;
    margin-top: 25px;
    color: red;
    transition: 0.4s;
    letter-spacing: 2px;
}

.btn02 i {
    transition: 0.3s;
    margin-left: 10px;
}

.btn02:hover i {
    transform: scale(1.2);
    margin-left: 20px;
    color: var(--cor1);
}

/* BOTÃO PLAY MUSICA */
#play-button {
    background: url('../img/iconPlay.png') no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    position: fixed;
    right: 10px;
    bottom: 30%;
    z-index: 9999;
}

#play-button:focus {
    outline: none;
}


.introducoes #slick-slide-control03 {
    display: none !important;
}

.carrossel__ .slick-dots {
    display: none !important;
}

/* CABEÇALHO */
header .topo {
    background-color: var(--cor0);
}

header .site {
    padding: 10px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .topo .email-localizacao {
    display: flex;
    align-items: center;
}

header .lz {
    flex-direction: row;
}

.lz {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header .topo .email-localizacao p {
    color: #ffffff;
    margin: 0 20px;
}

header .menu nav {
    display: flex;
    align-items: center;
}


header .menu nav ul {
    display: flex;
}

header .menu nav ul li a {
    font-size: 18pt;
    color: black;
    font-weight: 500;
    margin: 0 30px;
    transition: 0.2s;
}

header .menu nav ul li a:hover {
    color: var(--cor1);
}

header .menu nav ul li img {
    margin-left: 10px;
}

header .nosso-contato {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

header .nosso-contato div i {
    background-color: var(--cor05);
    color: #ffffff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18pt;
    border-radius: 100%;

}

header .nosso-contato div i,
header .nosso-contato div img {
    margin: 10px 0;
}


header .nosso-contato div:nth-child(2) {
    margin-left: 10px;
}

header .nosso-contato div h3 {
    font-family: var(--fontJakarta);
    margin: 0 0 5px;
    font-size: 22px;
    color: #000000;
    letter-spacing: 1px;
}

header .nosso-contato div p {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

header .nosso-contato div a {
    color: #000000;
}


/* menu hambuguer  */


.hambuguer {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid black;
    cursor: pointer;
}

.hambuguer::before,
.hambuguer::after {

    content: "";
    width: 32px;
    height: 3px;
    display: block;
    background-color: rgb(0, 0, 0);
    margin-top: 5px;

}



/* menu fechar menu  */

.fechar {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 25pt;
    font-weight: bold;
    display: flex;
    justify-content: start;
    width: 7%;
    display: none;
}

.fechar img {

    width: 49px;
    height: 55px;
}



/* RODAPÉ */

footer {
    background-color: var(--cor0);
    padding: 40px 0;
    color: #ffffff;
}

footer .site {
    margin: 0 auto;
}

footer .rodape {
    display: flex;
    justify-content: space-evenly;
}

footer .rodape h2 {
    font-size: 18pt;
    margin-bottom: 15px;
    color: #ffffff;
}

footer .rodape hr {
    margin-bottom: 30px;
}

footer .rodape ul li {
    font-size: 14pt;
    margin-bottom: 20px;
    display: flex;
}

footer .rodape ul i {
    margin-right: 10px;
}

footer .rodape ul li a {
    color: #ffffff;
    transition: 0.5s;
}

footer .rodape ul li a:hover i {
    transform: scale(1.2);
}

footer .site>div:nth-child(3) a,
footer .rodape i,
footer .rodape ul li a:hover {
    color: var(--cor05);
}


footer .site>hr {
    width: 100%;
    background-color: #CCCCCC;
    margin-top: 50px;
}

footer .site>div:nth-child(3) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .newsletter p {
    line-height: 20px;
    margin-bottom: 20px;
}

footer .newsletter i {
    color: #ffffff;
    font-size: 15pt;
}

footer .newsletter input {
    padding-left: 20px;
    border-radius: 40px;
    font-size: 16pt;
    line-height: 50px;
}

footer .newsletter button {
    border: none;
    background-color: var(--cor05);
    color: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
}

/* ÍCONES */
.icones ul {
    display: flex;
    align-items: center;
}

.icones ul li {
    margin: 0 10px;
}

.icones ul li a {
    background-color: #ffffff;
    border-radius: 100%;
    color: var(--cor1);
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 18pt;
    transition: 0.3s;
}

.icones ul li:hover a {
    transform: scale(1.2);
    color: #ffffff;
}

/* WHATSAPP */
.icones ul li:nth-child(1):hover a {
    background-color: #00b643;
}

/* INSTAGRAM */
.icones ul li:nth-child(2):hover a {
    background: #833ab4;
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
}

/* FACEBOOK */
.icones ul li:nth-child(3):hover a {
    background-color: #3b5998;
}

/* LINKEDIN */
.icones ul li:nth-child(4):hover a {
    background-color: #0e76a8;
}

/* BANNERS DAS PÁGINAS */
.banner-pagina {
    background-image: url(../img/banner-sobre.jpg);
    height: 300px;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

}

.banner-pagina .site {
    margin: 0 auto;
}

.banner-pagina .site a {
    color: #FFAF1E;
    font-weight: bold;
}

.banner-pagina .site h2 {
    color: white;
    font-size: 56pt;
}

.banner-pagina .site a:hover {
    text-decoration: underline;
}

.banner-pagina .site strong {
    color: white;
}


@media (max-width: 1024px) {

    header .site {

        justify-content: center;
    }



    .banner div {

        margin-left: 50px;
    }




}




.pagina-sobre-foto {

    padding: 40px 0;
}

.pagina-sobre-foto .site {
    margin: 0 auto;

}

.pagina-sobre-foto .site>div {
    display: flex;

}

.pagina-sobre-foto .site div:nth-child(2) h2 {

    color: #FFAF1E;
    margin-left: 30px;
}

.pagina-sobre-foto .site div:nth-child(2) h3 {
    font-size: 20pt;
    line-height: 32px;
    margin-left: 30px;
}


.pagina-sobre-foto .site div:nth-child(2) h4 {

    margin-top: 20px;
    font-size: 20pt;
    line-height: 32px;
    margin-left: 30px;

}


.pagina-sobre-foto .site .qualidades img,
.qualidades-01 img {
    width: 30px;
    height: 30px;
}

.pagina-sobre-foto .site .qualidades,
.qualidades-01 {
    display: flex;

}

.pagina-sobre-foto .site .qualidades div,
.qualidades-01 div {
    display: flex;
    width: 300px;
    align-items: center;
}

.pagina-sobre-foto .site .qualidades div img,
.qualidades-01 div img {

    margin: 20px 20px;
}

.pagina-sobre-foto .site .qualidades p,
.qualidades-01 p {

    text-align: start;
    font-size: 15pt;

}

.pagina-sobre-foto .site .video-sobre {

    display: flex;
    margin: 30px;
    justify-content: center;
}


.pagina-sobre-foto .site .video-sobre .video {
    display: flex;
    align-items: center;
}

.pagina-sobre-foto .site .video-sobre .video h5 {
    margin-left: 30px;
    font-size: 15pt;
    font-weight: bold;
}

.pagina-sobre-foto .site .video-sobre .anos-de-esperiencia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagina-sobre-foto .site .video-sobre .anos-de-esperiencia h2 {

    margin: 0;
}

.pagina-sobre-foto .site .video-sobre .anos-de-esperiencia p {
    font-weight: bold;
    margin-top: 5px;
}

@media (max-width: 1024px) {

    .banner-pagina .site {

        margin-left: 30px;
    }

    .pagina-sobre-foto .site div:nth-child(1) img {
        width: 500px;
        height: 500px;
        margin-left: 21px;
    }

    .pagina-sobre-foto .site .qualidades,
    .qualidades-01 {
        justify-content: center;
        margin-top: 15px;
    }

    .pagina-sobre-foto .site .video-sobre .anos-de-esperiencia h2 {
        font-size: 45pt;
        margin-bottom: 10px;
    }

    .pagina-sobre-foto .site .video-sobre .anos-de-esperiencia p {
        font-size: 21pt;
    }


    .pagina-sobre-foto .site .qualidades div img,
    .pagina-sobre-foto .site .qualidades-01 div img {
        width: 20px;
        height: 20px;
    }

    .pagina-sobre-foto .site .video-sobre .video img {

        width: 50px;
        height: 50px;

    }


    .pagina-sobre-foto .site div:nth-child(2) h2 {
        font-size: 25pt;
        text-align: center;
    }

    .pagina-sobre-foto .site div:nth-child(2) h3 {
        font-size: 15pt;

    }


    .pagina-sobre-foto .site div:nth-child(2) h4 {

        font-size: 18pt;
    }


}



.planos .site {
    padding: 50px 0;
    margin: 0 auto;
}

.planos .site>div:nth-child(1) hr {
    margin: 0;
}

.planos .site>div:nth-child(1) p {
    margin: 30px 20px 0;
    text-align: center;
    max-width: 800px;
    line-height: 30px;
    font-size: 16pt;
}

.planos .site>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.planos .site>div:nth-child(2) {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.planos .site .plano {
    background-color: #ffffff;
    color: #757575;
    width: 260px;
    padding: 20px;
    margin: 0 20px;
    border: 2px solid var(--cor1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 0.5s;
    margin-top: 40px;
}

.planos .site .plano img {
    width: 60px;
}

.planos .site .plano h2:first-of-type {
    font-size: 16pt;
    color: #000000;
}

.planos .site .plano h2:last-of-type {
    font-size: 20pt;
    color: #000000;
    text-align: center;
}

.planos .site .plano span {
    font-size: 14pt;
    color: #757575;
}

.planos .site .descPlanos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.planos .site .descPlanos div {
    display: flex;
    margin: 15px 0;
    font-size: 13pt;
}

.planos .site .descPlanos i {
    color: var(--cor1);
    margin-right: 10px;
    font-size: 20pt;
    font-weight: 900;
}

.planos .site .descPlanos p {
    font-weight: bold;
}

.planos .site .plano:hover {
    background-color: var(--cor2);
    color: #ffffff;
    transform: scale(1.1);
}

.planos .site .plano:hover h2,
.planos .site .plano:hover span {
    color: #ffffff;
}

.planos .site .btn01 {
    background-color: var(--cor2);
    letter-spacing: 1px;
}

.planos .site .plano:hover .btn01 {
    background-color: #ffffff;
    color: #000000;
}

@media (max-width: 1024px) {


    .banner-pagina .site {

        margin-left: 40px;
    }

    .planos .site .plano {
        width: 240px;
        margin-top: 30px;
    }


}

.contato {
    padding: 40px 0;
}

.contato .site {
    margin: 0 auto;
}

.contato .site .entrar-em-contato {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.contato .site .entrar-em-contato .contato-icones {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width: 50%;
}

.contato .site .entrar-em-contato .contato-icones div {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.contato .site .entrar-em-contato .contato-icones div:nth-child(3) {
    margin-top: 70px;
}

.contato .site .entrar-em-contato .contato-icones div p {

    margin-left: 15px;
    font-weight: bold;
    font-size: 16pt;
}



.contato .site .formulario {
    background-color: #F7F7F7;
    padding: 40px;
    border-radius: 10px;
    width: 40%;
   
}


.contato .site .formulario .form-group input,
.contato .site .formulario .form-group textarea {
    font-size: 15pt;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    padding-left: 20px;
    border: 2px solid #FFAF1E;
    margin: 10px 0;
    box-sizing: border-box;
}



.contato .site .formulario .form-group textarea {
    resize: none;
    height: 200px;
    padding: 20px 0 0 20px;
}

.contato .site .formulario .form-group textarea::placeholder {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20pt;
    text-align: center;
    position: relative;
    top: 25%;
    left: -10px;
}






.contato .site .formulario button {
    width: 100%;
    height: 60px;
    background-color: #2E4750;
    text-transform: uppercase;
    font-size: 13pt;
    transition: 0.4s;
}

.contato .site .formulario button:hover {
    transform: scale(1.1);
}

.mapa {
    padding-top: 40px;
}

.mapa iframe {
    width: 100%;
}



@media (max-width: 1024px) {}

.banner {
    background-image: url('../img/banner1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner .site {
    margin: 0 auto;
}

.banner div {
    width: 630px;
    height: 415px;
}

.banner h2 {
    font-size: 70px;
    font-weight: bolder;
}

.banner h3 {
    color: var(--cor1);
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bolder;
}

.banner p {
    font-size: 15pt;
    line-height: 40px;
}



.banner p,
.banner h2 {
    color: white;
    margin-bottom: 15px;
}

.servicos-entre-banner {
    display: flex;
    margin: 0 auto;
    justify-content: flex-end;
    align-items: center;
    user-select: none;
}

.servicos-entre-banner img {
    margin-right: 20px;
}


.servicos-entre-banner h3 {
    font-weight: bold;
    font-size: 16pt;
    color: #ffffff;
    text-align: center;
}

.servicos-entre-banner p {
    color: white;
    font-size: 14pt;
    line-height: 30px;
    margin-top: 10px;
}

.protecao,
.cobertura {
    padding: 20px;
    width: 320px;
    height: 240px;
    background-color: var(--cor0);
    position: relative;
    bottom: 90px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cobertura {
    background-color: var(--cor2);
    margin-left: 40px;
}

.protecao div,
.cobertura div {
    display: flex;
    align-items: center;
}

.introducoes.site {
    margin: 0 auto;
    display: flex;
    font-family: var(--fontJakarta);
}

.introducoes .carrossel {
    width: 40%;
    margin-right: 20px;
    height: 100%;
}

.introducoes .carrossel img {
    width: 100%;
    height: 100%;
}

.introducoes p {
    margin: 20px 0;
    text-align: justify;
    line-height: 30px;
    font-size: 14pt;
}

.introducoes div:nth-child(2) ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.introducoes div:nth-child(2) ul li {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.introducoes div:nth-child(2) ul li span {
    font-size: 14pt;
    margin-left: 15px;
    font-weight: bold;
}

.introducoes div .ceo {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.introducoes div .ceo span {
    display: flex;
    margin: 10px;
    font-size: 12pt;
    font-weight: 700;
}

.parceiros .site {
    margin: 0 auto;
}

.parceiros .site .marcas,
.parceiros .site .marcas_ {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.parceiros .site .marcas img,
.parceiros .site .marcas_ img {
    height: 90px;
    width: 200px;
}


.parceiros .site .marcas div,
.parceiros .site .marca_ div {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    margin-top: 5px;
    border-radius: 10px;
    transition: 0.5s;
    padding: 0 10px;
}

.parceiros .site .marcas div:hover,
.parceiros .site .marcas_ div:hover {
    background-color: var(--cor3);
    transform: scale(1.3);
}

.parceiros .site .marcas p,
.parceiros .site .marcas_ p {
    margin: 5px 0;
}

.oque-fazemos {
    background-color: var(--cor3);
    margin-top: 70px;
    padding: 20px 0;
}

.oque-fazemos .site {

    margin: 0 auto;
}

.oque-fazemos .site .jornada-melhor {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.oque-fazemos .site .jornada-melhor h4 {
    margin-top: 15px;
    text-align: center;
    font-family: var(--fontJakarta);
    line-height: 40px;
    font-size: 15pt;
    color: var(--cor0);

}


.oque-fazemos .site .servicos-01 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.oque-fazemos .site .servicos {
    padding: 30px;
    width: 240px;
    height: 440px;
    border-radius: 10px;
    border: 1px solid var(--cor05);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s;
    user-select: none;
}

.oque-fazemos .site .servicos:hover {
    background-color: #2E4750;
    transform: scale(1.1);
    color: #ffffff;
}

.oque-fazemos .site .servicos:hover h3,
.oque-fazemos .site .servicos:hover p {
    color: #ffffff;
}

.oque-fazemos .site .servicos:hover a {
    color: var(--cor1);
}

.oque-fazemos .site .servicos h3 {
    font-weight: 900;
    font-size: 14pt;
    color: var(--cor0);
    text-align: center;
    line-height: 24px;
}

.oque-fazemos .site .servicos p {
    font-size: 13pt;
    color: #757575;
    line-height: 30px;
    margin-top: 10px;
}


.oque-fazemos .site .servicos a {
    color: #2E4750;
    letter-spacing: 3px;
    font-size: 12pt;
    align-self: flex-start;
}

.oque-fazemos .site .servicos .emissao-e-enovacao {
    display: flex;
    justify-content: space-between;
    margin: 0 25px;
}

.visaoGeral {
    width: 100%;
    height: 800px !important;
    background-image: url(../img/BannerVisaoGeral.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}

.visaoGeral .site {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.visaoGeral .site h3,
.visaoGeral .site h2,
.visaoGeral .site p,
.visaoGeral .site span {
    color: #ffffff;
}

.visaoGeral .site>div {
    width: 50%;
    padding: 10px;
    margin: 10px;
}

.visaoGeral .site>div:nth-child(1) h3 {
    color: var(--cor05);
}

.visaoGeral .site>div:nth-child(1) h2 {
    margin-bottom: 20px;
}

.visaoGeral .site>div:nth-child(1) p {
    margin-bottom: 40px;
    line-height: 25px;
    text-align: justify;
}

.visaoGeral .site>div:nth-child(1)>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.visaoGeral .site>div:nth-child(1)>div span:nth-child(2) {
    align-self: flex-end;
    margin-right: 30px;
}

.visaoGeral .site>div:nth-child(1) div div {
    background-color: #D9D9D9;
    border-radius: 50px;
    width: 100%;
    height: 20px;
    margin: 10px 0 40px;
}

.visaoGeral .site>div:nth-child(1) div div::after {
    content: '';
    background-color: var(--cor05);
    display: block;
    height: 20px;
    border-radius: 50px;
}

.visaoGeral .site .porcentagem1::after {
    width: 95%;
}

.visaoGeral .site .porcentagem2::after {
    width: 90%;
}

.visaoGeral .site .porcentagem3::after {
    width: 97%;
}

.visaoGeral .site>div:nth-child(2) img {
    width: 100%;
}

.visaoGeral .site>div:nth-child(2)>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.visaoGeral .site>div:nth-child(2)>div h2 {
    letter-spacing: 8px;
    margin-top: 40px;
}

.visaoGeral .site>div:nth-child(2)>div div:nth-child(1) h2::after {
    content: 'K';
    font-size: 15pt;
    position: relative;
    bottom: 20px;
    right: 5px;
    color: var(--cor05);
    letter-spacing: 0;
}

.visaoGeral .site>div:nth-child(2)>div div:nth-child(2) h2::after {
    content: 'Dia';
    font-size: 15pt;
    position: relative;
    bottom: 20px;
    right: 5px;
    color: var(--cor05);
    letter-spacing: 2px;
}

.visaoGeral .site>div:nth-child(2)>div div:nth-child(3) h2::after {
    content: '%';
    font-size: 15pt;
    position: relative;
    bottom: 20px;
    right: 5px;
    color: var(--cor05);
    letter-spacing: 0;
}

.avaliacoes {
    padding: 20px 0;
}


.avaliacoes .site {
    margin: 0 auto;
}

.avaliacoes .site .ver-todas-avalicoes {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}


.avaliacoes .site .ver-todas-avalicoes .clique-aqui a {
    background-color: #2E4750;
}


.avaliacoes .site .clientes {
    display: flex;
    margin-top: 50px;
    width: 100%;
}

.avaliacoes .site .clientes .comentario {
    margin: 0 10px;
    padding: 20px;
    width: 480px;
    background-color: #F7F7F7;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.avaliacoes .site .clientes .comentario:hover {
    background-color: #E4E4E4;
}

.avaliacoes .site .clientes .comentario img {
    width: 50px;
    height: 50px;
    margin: 10px 0;
}

.avaliacoes .site .clientes .comentario p {
    line-height: 30px;
    letter-spacing: 2px;
    font-size: 16pt;
}

.avaliacoes .site .clientes .user {
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.avaliacoes .site .clientes .user img {
    width: 70px;
    height: 70px;
}

.avaliacoes .site .clientes .user h3 {
    margin: 10px;
}

.nossa-consultora {
    background-color: #F7F7F7;
    padding: 30px 0;
}

.nossa-consultora .site {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.nossa-consultora .site .caixa {
    padding: 30px;
    width: 100%;
    max-width: 840px;
    height: 350px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 2px solid #F6C90E;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nossa-consultora .site .caixa div:nth-child(1) img {
    width: 100%;
}

.nossa-consultora .site .caixa div:nth-child(2) {
    width: 70%;
    margin-left: 30px;
}

.nossa-consultora .site .caixa div h2 {
    font-size: 42pt;
}


.nossa-consultora .site .caixa div h3 {
    font-size: 24pt;
    margin-bottom: 15px;
}

.nossa-consultora .site .hr-01 {
    width: 100%;
}

.nossa-consultora .icones ul li a {
    background-color: var(--cor2);
    color: #ffffff;
    width: 55px;
    height: 55px;
    font-size: 20pt;
}

.nossa-consultora .site .caixa .saiba-mais-fabiana {

    display: flex;
    justify-content: end;
    margin-top: 30px;

}

.nossa-consultora .site .caixa .saiba-mais-fabiana a {

    color: #2E4750;
    font-weight: bold;
    font-size: 14pt;

}

.nossa-consultora .site .caixa .saiba-mais-fabiana img {
    margin-left: 10px;
}



.como-trabalhamos {
    padding: 50px 0;
    background-color: #2E4750;
}

.como-trabalhamos .site {
    margin: 0 auto;
}

.como-trabalhamos .site h3 {

    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;

}

.como-trabalhamos .site .da-compra-ao-seguro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.como-trabalhamos .site .forma-de-trabalho {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.como-trabalhamos .site .da-compra-ao-seguro h2 {

    color: #ffffff;
    font-weight: bold;
    font-size: 35pt;
}

.como-trabalhamos .site .da-compra-ao-seguro p {
    color: #ffffff;
    font-weight: 700;
    width: 50%;
    line-height: 30px;
}


.como-trabalhamos .site .forma-de-trabalho div {
    width: 256px;
    height: 400px;
    padding: 10px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.como-trabalhamos .site .forma-de-trabalho div img {
    margin: 20px 0;
    width: 80px;
    height: 80px;
}

.como-trabalhamos .site .forma-de-trabalho div h3 {
    margin-bottom: 10px;
    font-size: 15pt;
    text-align: center;
}


.como-trabalhamos .site .forma-de-trabalho div p {
    text-align: center;
    color: white;
    line-height: 30px;
}

@media (max-width: 1024px) {


    header .topo .email-localizacao p {
        font-size: 10pt;
    }

    .banner {
        height: 850px;
    }


    .servicos-entre-banner {

        justify-content: center;
        margin-top: 15px;
    }


    .introducoes .carrossel {
        margin-left: 20px;
    }

    .introducoes.site .slick-dots {

        bottom: -40px;


    }

    .introducoes p {

        margin-right: 33px;
    }


    .parceiros .site .marcas img {
        height: 50px;
        width: 100%;
        margin-bottom: 20px;
    }

    .parceiros .site .marcas {
        margin-top: 50px;
        justify-content: space-evenly;
    }


    .parceiros .site .marcas div {
        width: 150px;
        height: 150px;

    }

    .avaliacoes .site hr,
    .avaliacoes .site h3,
    .como-trabalhamos .site hr,
    .como-trabalhamos .site h3 {

        margin-left: 30px;
    }

    .avaliacoes .site .ver-todas-avalicoes {

        justify-content: space-around;

    }

    .como-trabalhamos .site .da-compra-ao-seguro {
        justify-content: space-around;
    }

    .como-trabalhamos .site .da-compra-ao-seguro h2 {
        font-size: 30pt;
        margin-top: 0;
    }




    .como-trabalhamos .site .forma-de-trabalho div {
        width: 285px;
    }


    .como-trabalhamos .site .forma-de-trabalho {
        margin: 40px 20px 0 20px;
    }

    .pagina-sobre-foto .site>div {
        align-items: center;
        flex-direction: column;
    }

    footer .rodape {

        justify-content: space-evenly;
    }

    footer .rodape div {

        margin-right: 10px;
        margin-left: 10px;
    }


    footer .rodape ul li {
        font-size: 11pt;
        margin-bottom: 20px;
    }

    footer .newsletter input {
        padding-left: 5px;
        font-size: 9pt;
    }

    footer .site .newsletter {
        width: 28%;
    }


    footer .site>div:nth-child(3) {
        justify-content: space-around;
        flex-direction: column;
    }

    footer .site .icones {
        margin-top: 15px;
    }
}


@media (max-width: 768px) {


    .separa {
        display: flex !important;
        justify-content: center;
    }

    .banner {
        height: 700px;
    }

    .topo .site .email-localizacao img {
        margin-left: 10px;
    }


    header .menu nav ul li a {
        margin: 0 13px;
    }



    header .nosso-contato div h3 {
        font-size: 17px;
    }

    header .nosso-contato div p {
        font-size: 15px;
    }


    header .site {
        justify-content: space-around;
    }

    header .menu nav {
        order: 5;
    }

    header .menu nav ul {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(#FFB42C, #ffea4a);
        clip-path: circle(100px at 90% -20%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-between;
        z-index: 999;
        pointer-events: none;
    }

    header nav.active ul {
        clip-path: circle(1500px at 90% -20%);
        pointer-events: all;
    }


    header .menu nav ul {

        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }


    header .menu nav ul li {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    header .menu nav ul li:nth-child(3) {

        width: 102%;
    }

    header .menu nav ul li:nth-child(4) {

        width: 112%;
    }

    header .menu nav ul li:nth-child(5) {

        width: 109%;
        margin-bottom: 100px;
    }

    header .menu nav ul li a {
        margin: 0;
        font-size: 27pt;
    }

    .topo .site .icones,
    header .nosso-contato {
        display: none;
    }

    .hambuguer {
        display: block;
        margin-top: 3px;
    }

    .fechar {
        display: block;
    }

    .banner div {
        width: auto;
        margin: 0;
        padding: 20px;
    }

    .banner h2 {
        font-size: 40pt;
    }

    .protecao,
    .cobertura {
        width: 60%;
        height: 300px;
        margin: 10px;
    }

    .protecao div,
    .cobertura div {
        flex-direction: column;
        text-align: center;
        margin: 10px 0;
    }

    .servicos-entre-banner h3 {
        font-size: 14pt;
    }


    .carrossel .slick-dots {
        bottom: -30px !important;
    }


    .introducoes.site {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }



    .introducoes.site div:nth-child(2) {
        /* padding: 0 30px; */
        margin: 0 30px;
    }

    .introducoes.site div .ceo div:nth-child(2) {
        /* padding: 0 30px; */
        margin: 0 0px;
    }

    .introducoes .carrossel {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .parceiros .site .marcas div:hover {
        transform: scale(1.1);
    }

    .oque-fazemos .site .jornada-melhor h2 {
        line-height: 35pt;
        text-align: center;
        font-size: 27pt;
    }

    .visaoGeral {
        height: auto !important;
    }

    .visaoGeral .carrossel .slick-dots {
        bottom: -50px !important;
    }

    .visaoGeral .site {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .visaoGeral .site>div:nth-child(2)>div div {
        margin: 5px 20px 0 0;
    }

    .visaoGeral .site>div:nth-child(2)>div h3 {
        font-size: 10pt;
        margin-right: 10pt;
    }


    .avaliacoes .site .ver-todas-avalicoes h2 {

        font-size: 20pt;
        margin-left: 10px;
    }

    .nossa-consultora .site h2 {
        text-align: center;
        font-size: 25pt
    }

    .nossa-consultora .site .caixa {

        width: 77%;

    }

    .banner-pagina .site h2 {
        color: white;
        font-size: 38pt;


    }


    .pagina-sobre-foto .site div:nth-child(1) img {
        width: 89% !important;

    }

    .pagina-sobre-foto .site .qualidades,
    .qualidades-01 {
        display: flex;
        flex-direction: column;
    }

    .pagina-sobre-foto .site .qualidades div,
    .qualidades-01 div {

        flex-direction: column;
    }

    .pagina-sobre-foto .site .qualidades,
    .qualidades-01 {
        display: flex;
        align-items: center;
    }

    .pagina-sobre-foto .site .qualidades p,
    .qualidades-01 p {

        text-align: center !important;
    }

    .pagina-sobre-foto .site .video-sobre {
        flex-direction: column;
    }

    .pagina-sobre-foto .site .video-sobre .video {

        margin-bottom: 15px;
        justify-content: center;
    }

    .contato .site .formulario {
        width: 75% !important;
    }

    .pagina-sobre-foto .site>div {

        flex-direction: column;

    }

    .pagina-sobre-foto .site div:nth-child(1) {
        display: flex;

    }


    .pagina-sobre-foto .site div:nth-child(1) img {
        width: 100% !important;
        height: 515px !important;

    }



    .pagina-sobre-foto .site div:nth-child(2) img {

        width: 20px !important;
        height: 20px !important;
    }

    .pagina-sobre-foto .site .video-sobre .video img {
        width: 50px !important;
        height: 50px !important;
    }

    .como-trabalhamos .site .forma-de-trabalho div {
        width: 242px;
        margin-right: 20px;
        margin-bottom: 20px;
        height: 430px;
    }

    .como-trabalhamos .site .forma-de-trabalho {

        justify-content: center;
        flex-wrap: wrap;
    }


    .como-trabalhamos .site .da-compra-ao-seguro {
        flex-direction: column;
        align-items: start;
        margin-left: 30px;
    }

    .como-trabalhamos .site .da-compra-ao-seguro h2 {
        font-size: 35pt;
    }

    .como-trabalhamos .site .da-compra-ao-seguro p {
        margin-top: 10px;
        font-size: 13pt;
        width: 96%;
        margin-left: 0px;


    }

    .contato .site .entrar-em-contato .contato-icones {

        margin-right: 25px;
    }



    footer .rodape {

        flex-direction: column;

    }

    footer .rodape div {
        margin: 0 auto;
        width: 500px;
    }

    footer .rodape div h2 {

        font-size: 23pt;

    }

    footer .rodape div ul {
        display: flex;
        flex-direction: column;


    }

    footer .rodape div ul li {
        margin: 20px 0;
        font-size: 20pt;

    }

    footer .rodape div ul li i {

        margin-right: 20px;
    }

    footer .rodape div ul li a {


        font-size: 16pt;
        text-align: center;
    }

    footer .rodape .newsletter {
        width: 500px;
    }


    footer .rodape .newsletter p {

        font-size: 15pt;
    }

    footer .site>div:nth-child(3) {
        flex-direction: column;
    }

    footer .site>div:nth-child(3) p {
        margin: 20px 10px;
    }
}

@media (max-width: 480px) {

    .pagina-sobre-foto .site div:nth-child(2) h3,
    .pagina-sobre-foto .site div:nth-child(2) h4 {
        margin-left: 10px;
    }

    .pagina-sobre-foto .site div:nth-child(2) h2 {
        margin-left: 0;
        font-size: 25px;
    }

    header .lz {
        flex-flow: column wrap;
        text-align: center;
    }


    .protecao,
    .cobertura {
        width: 80%;
    }

    .visaoGeral .site>div:nth-child(2)>div h3 {
        text-align: center;
    }

    /* .visaoGeral .carrossel img{
        width: 300px !important;
        height: 300px !important;
    } */


    header .topo .email-localizacao {

        flex-direction: column;
    }

    .topo .site .email-localizacao img {
        margin: 0 5px 10px 0;
    }


    header .topo .email-localizacao a {
        display: flex;
        align-items: center;
        justify-content: center;
    }




    header .topo .email-localizacao p {
        align-items: center;
        margin: 0 0 10px 0;
        font-size: 8pt;
    }

    .banner {

        justify-content: start;
        height: 1030px;


    }

    .banner .site div {
        margin-top: 40px;
    }


    .banner .site div h2 {
        font-size: 24pt;
    }

    .banner .site div p {
        font-size: 15pt;
        width: 100%;
    }

    .servicos-entre-banner {
        flex-direction: column;
        height: 100px;
        padding: 0 0 30px;
        position: static;
    }

    .protecao,
    .cobertura {
        margin: 0 0 20px 0;
        /* position: relative; */
        bottom: 144px;
        position: static;
        height: 370px;
    }

    .introducoes.site {
        flex-direction: column;
        padding-top: 220px !important;
    }


    .introducoes .carrossel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
    }

    .introducoes .carrossel img {

        width: 250px;
    }


    .separa {
        display: flex !important;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .avaliacoes .site .clientes .comentario {
        width: 330px !important;
        padding: 0;
        /* margin: 0; */
        padding: 0;
        margin: 0;
        /* display: flex !important
; */
        align-items: center;
        justify-content: center;
    }

    .avaliacoes .site .clientes .comentario p {
        width: 80%;
    }

    .carrossel .slick-dots {
        bottom: -21px !important;
    }

    .introducoes.site div:nth-child(2) {

        margin: 33px 0 0 15px;

    }

    .introducoes div .ceo {

        justify-content: center;
    }

    .introducoes.site .ceo div {
        margin-top: 0;
    }

    .botaointro {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .parceiros .site .marcas {
        flex-direction: column;
    }

    .oque-fazemos .site .jornada-melhor h2 {
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }

    .visaoGeral {
        padding: 40px 0 49px 0;
    }

    .visaoGeral .site {
        flex-direction: column;
    }

    .visaoGeral .site>div {
        width: 92%;
    }

    .visaoGeral .site>div:nth-child(2)>div div>div {
        flex-direction: column;
        align-items: center;

    }






    .visaoGeral .site>div:nth-child(2)>div {

        order: 1;

    }

    .visaoGeral .site>div:nth-child(2)>div div {
        margin: 5px -5px 0 0;
    }

    .visaoGeral .site>div:nth-child(2)>div>div>div {
        flex-direction: column;
        align-items: center;
    }



    .avaliacoes .site .ver-todas-avalicoes {
        justify-content: space-around;
        flex-direction: column;
    }



    .nossa-consultora .site .caixa {
        width: 90%;
        flex-direction: column;
        height: 740px;
        justify-content: space-evenly;
    }


    .nossa-consultora .site .caixa div:nth-child(1) {
        display: flex;
        justify-content: center;
    }

    .nossa-consultora .site .caixa .icones ul {
        flex-direction: column;
    }

    .nossa-consultora .icones ul li a {
        margin-bottom: 10px;
    }


    .nossa-consultora .site .caixa div:nth-child(1) img {
        width: 51%;
    }

    .nossa-consultora .site .caixa div h2 {

        text-align: start;

    }


    .nossa-consultora .site .caixa div:nth-child(2) {
        margin: 0;
        width: 100%;


    }


    .como-trabalhamos .site .da-compra-ao-seguro {


        margin-left: 10px;
    }

    .como-trabalhamos .site h3,
    .como-trabalhamos .site hr {
        margin-left: 10px;
    }

    .como-trabalhamos .site h3 {


        font-size: 20pt;
    }

    .como-trabalhamos .site .da-compra-ao-seguro h2 {

        margin-bottom: 20px;
    }





    .pagina-sobre-foto .site .qualidades,
    .qualidades-01 {
        margin-right: 0;
    }


    .pagina-sobre-foto .site .qualidades {
        margin-bottom: 10px;
    }


    .planos .site h2 {
        text-align: center;
    }


    .planos .site .plano:hover {

        transform: scale(0.99) !important;
    }


    .banner-pagina .site h2 {
        color: white;
        font-size: 38pt;


    }

    .pagina-sobre-foto .site div:nth-child(1) img {
        width: 89% !important;

    }

    .pagina-sobre-foto .site .qualidades,
    .qualidades-01 {
        display: flex;
        flex-direction: column;
    }

    .pagina-sobre-foto .site .qualidades div,
    .qualidades-01 div {

        flex-direction: column;
    }

    .pagina-sobre-foto .site .qualidades,
    .qualidades-01 {
        display: flex;
        align-items: center;
    }

    .pagina-sobre-foto .site .qualidades p,
    .qualidades-01 p {

        text-align: center !important;
    }

    .pagina-sobre-foto .site .video-sobre {
        flex-direction: column;
        margin: 15px 0 !important;
    }

    .pagina-sobre-foto .site .video-sobre .video {

        margin-bottom: 15px;
    }



    .contato .site .entrar-em-contato {
        flex-direction: column;
    }


    .contato .site .entrar-em-contato .contato-icones {

        width: 100% !important;
    }

    .contato .site .entrar-em-contato .contato-icones div {

        flex-direction: column;
    }

    .contato .site .entrar-em-contato .contato-icones div p {
        margin-top: 10px;
        text-align: center;

    }


    .contato .site .formulario {

        width: 82% !important;
        padding: 40px 30px 40px 30px !important;

    }


    footer .rodape div,
    footer .rodape .newsletter {

        width: 300px;
    }

    footer .site>div:nth-child(3) p {

        text-align: center;
    }

    footer .rodape div ul li {
        font-size: 15pt;
    }

    footer .rodape div ul li a {
        font-size: 13pt;
    }

    .visaoGeral .site>div:nth-child(2)>div h2 {
        text-align: center;
    }

    .visaoGeral .site>div:nth-child(2)>div {
        display: block;
    }


    .contato .site .formulario button {
        height: 50px !important;
        font-size: 10pt !important;
    }


}


@media (max-width: 400px) {


    .servicos-entre-banner {
        position: static;
        padding: 70px 0 30px;
    }


    .introducoes.site {
        margin-top: 80px;
        padding-top: 130px;
    }

    .visaoGeral .site>div:nth-child(2)>div>div>div {
        flex-direction: column;
        align-items: center;
    }

    .visaoGeral .site>div:nth-child(2)>div div {
        margin: 5px -5px 0 0;
    }

    .visaoGeral .site>div:nth-child(2)>div {
        display: block;
    }

}


@media (max-width: 355px) {






    .visaoGeral .carrossel .slick-dots {
        display: none;
    }

    .visaoGeral .site>div:nth-child(2)>div div {
        margin: 5px -5px 0 0;
    }

    .visaoGeral .site>div:nth-child(2)>div div>div {
        flex-direction: column;
        align-items: center;
    }

    .visaoGeral .site>div:nth-child(2)>div {
        display: contents;
    }

    .nossa-consultora .site .caixa div h2 {
        font-size: 36pt;
    }


    .como-trabalhamos .site h3 {

        text-align: center;
    }

    .banner-pagina .site h2 {
        color: white;
        font-size: 38pt;


    }

    .pagina-sobre-foto .site div:nth-child(1) img {
        width: 89% !important;

    }

    .pagina-sobre-foto .site .qualidades,
    .qualidades-01 {
        display: flex;
        flex-direction: column;
    }

    .pagina-sobre-foto .site .qualidades div,
    .qualidades-01 div {

        flex-direction: column;
    }

    .pagina-sobre-foto .site .qualidades,
    .qualidades-01 {
        display: flex;
        align-items: center;
    }

    .pagina-sobre-foto .site .qualidades p,
    .qualidades-01 p {

        text-align: center !important;
    }

    .pagina-sobre-foto .site .video-sobre {
        flex-direction: column;
    }

    .pagina-sobre-foto .site .video-sobre .video {

        margin-bottom: 15px;
    }

    .contato .site .formulario {
        width: 75% !important;
    }
}



@media (max-width: 300px) {

    .banner {
        justify-content: start;
        height: 1000px;
    }

    .avaliacoes .site .ver-todas-avalicoes .clique-aqui a {
        background-color: #2E4750;
        width: 86%;
    }

    footer .rodape div,
    footer .rodape .newsletter {
        width: 100%;
    }

    .contato .site .entrar-em-contato .contato-icones div {

        flex-direction: column;
    }

    .contato .site .entrar-em-contato .contato-icones div p {
        margin-top: 10px;
        text-align: center;

    }





}